<header id="header-menu">
  <div id="header-menu-logo">
    <a routerLink=""><i class="fas fa-book-open"></i></a>
  </div>
  <nav>
    <input id="header-menu-search" (click)="onDisplayResult()" (input)="onSearch();" placeholder="RGPD, ANSSI..."
           type="search"><i class="fas fa-search"></i>
    <div class="header-menu-search-results"
         [ngClass]="{'d-block': displayResults === true, 'd-none': displayResults === false}">
      <div *ngFor="let def of word">
        <a (click)="onDisplayNone()" [routerLink]="['/definition/', def.title]">
          <i class="fas fa-search"></i>{{ def.title }}
        </a>
      </div>
      <div *ngFor="let thm of theme">
        <a [routerLink]="['/theme/', thm.title]" (click)="onDisplayNone()">
          <i class="fas fa-search"></i>{{ thm.title }} <span class="header-menu-theme"> en tant que thème </span>
        </a>
      </div>
    </div>
  </nav>
  <div (click)="onDisplayNone()" id="overlay"
       [ngClass]="{'d-block': displayResults === true, 'd-none': displayResults === false}"></div>
</header>
