<nav class="menu-admin">
  <ul>
    <li class="menu-admin-waitingdef">
      <a [routerLink]="['']">
        6
      </a>
    </li>
    <li class="menu-admin-defadd">
      <a [routerLink]="['/mot/ajouter']">
        <i class="fas fa-plus"></i>
      </a>
    </li>
    <li class="menu-admin-defmanage">
      <a [routerLink]="['']">
        <i class="fas fa-edit"></i>
      </a>
    </li>
    <li class="menu-admin-useradd">
      <a [routerLink]="['/utilisateur/ajouter']">
        <i class="fas fa-user-plus"></i>
      </a>
    </li>
    <li class="menu-admin-usermanage">
      <a [routerLink]="['']">
        <i class="fas fa-user-edit"></i>
      </a>
    </li>
    <li class="menu-admin-home">
      <a [routerLink]="['']">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
  </ul>
</nav>
