<main class="main-content">

<section id="home">

  <!-- Header avec logo -->
  <header class="home-header">
      <img src="assets/img/logo_v4.png">
      <p>Bienvenue sur l'application Glossaire</p>
  </header>
  <!-- Header avec logo -->

  <!-- Zone de recherche -->
  <form class="home-search-area">
    <div class="home-search-center">
    <input type="search" name="search" placeholder="Rechercher un mot, un thème..."><i class="fas fa-search"></i>
    </div>
  </form>
  <!-- Zone de recherche -->

  <!-- Dernières défintions ajoutées -->
  <section class="home-last-definition">
    <header>
      <h1>Dernière définition</h1>
    </header>
    <section class="home-last-definition-content" *ngIf="word">
      <h1>
        <a [routerLink]="['definition/', word.title]">
          {{ word.title }}
        </a>
      </h1>
      <p class="description">
        {{ word.definition }}
      </p>
      <div class="button-action">
        <a [routerLink]="['definition/', word.title]">Consulter</a>
        <a href="#">Action</a>
      </div>
    </section>
    <p *ngIf="ilya" class="home-last-definition-content-date">{{ ilya }}</p>
  </section>
  <!-- Dernières défintions ajoutées -->

  <!-- Connexion -->
  <div class="home-connection">
    <a class="btn">Se connecter</a>
  </div>
  <!-- Connexion -->
</section>

</main>
