<main class="main-content">

  <!-- Header avec logo -->
  <header class="authentication-header">
    <img src="assets/img/logo_v4.png">
    <p>Connexion</p>
  </header>
  <!-- Header avec logo -->

  <!--Formulaire de connexion -->
  <form (ngSubmit)="onSubmitForm()" [formGroup]="authForm" novalidate>

    <div class="authentication-form-group">
      <label>Adresse mail</label>
      <input
        [ngClass]="{ 'valid-control': authForm.controls['email'].valid, 'invalid-control': authForm.controls['email'].invalid && (authForm.controls['email'].dirty || authForm.controls['email'].touched)}"
        type="text" class="form-control" formControlName="email" #email/>
      <div
        *ngIf="authForm.controls['email'].invalid && (authForm.controls['email'].dirty || authForm.controls['email'].touched)"
        class="authentication-form-alert">
        Vous devez saisir une adresse mail.
      </div>
      <div
        *ngIf="authForm.controls['email'].valid && (authForm.controls['email'].dirty || authForm.controls['email'].touched)"
        class="authentication-form-valid">
        Adresse mail valide.
      </div>
    </div>

    <div class="authentication-form-group">
      <label>Mot de passe</label>
      <input
        [ngClass]="{ 'valid-control': authForm.controls['password'].valid, 'invalid-control': authForm.controls['password'].invalid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)}"
        type="password" class="form-control" formControlName="password" #password/>

      <div
        *ngIf="authForm.controls['password'].invalid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)"
        class="authentication-form-alert">
        Vous devez saisir un mot de passe d'au moins 6 caractères.
      </div>
      <div
        *ngIf="authForm.controls['password'].valid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)"
        class="authentication-form-valid">
        Mot de passe valide.
      </div>
    </div>

    <div class="authentication-form-group">
      <label>Nom</label>
      <input
        [ngClass]="{ 'valid-control': authForm.controls['lastname'].valid, 'invalid-control': authForm.controls['lastname'].invalid && (authForm.controls['lastname'].dirty || authForm.controls['lastname'].touched)}"
        type="text" class="form-control" formControlName="lastname" #lastname/>
      <div
        *ngIf="authForm.controls['lastname'].invalid && (authForm.controls['lastname'].dirty || authForm.controls['lastname'].touched)"
        class="authentication-form-alert">
        Vous devez saisir un nom.
      </div>
      <div
        *ngIf="authForm.controls['lastname'].valid && (authForm.controls['lastname'].dirty || authForm.controls['lastname'].touched)"
        class="authentication-form-valid">
        Nom valide.
      </div>
    </div>

    <div class="authentication-form-group">
      <label>Prénom</label>
      <input
        [ngClass]="{ 'valid-control': authForm.controls['firstname'].valid, 'invalid-control': authForm.controls['firstname'].invalid && (authForm.controls['firstname'].dirty || authForm.controls['firstname'].touched)}"
        type="text" class="form-control" formControlName="firstname" #firstname/>
      <div
        *ngIf="authForm.controls['firstname'].invalid && (authForm.controls['firstname'].dirty || authForm.controls['firstname'].touched)"
        class="authentication-form-alert">
        Vous devez saisir un prénom.
      </div>
      <div
        *ngIf="authForm.controls['firstname'].valid && (authForm.controls['firstname'].dirty || authForm.controls['firstname'].touched)"
        class="authentication-form-valid">
        Prénom valide.
      </div>
    </div>

    <div class="authentication-form-group">
      <a class="authentication-form-fgt-psw" [routerLink]="['']"> Mot de passe oublié ?</a>
    </div>

    <div class="authentication-form-submit">
      <button type="submit"
              [disabled]="authForm.invalid"
              class="btn">Connexion
      </button>
    </div>
  </form>
  <!--Formulaire de connexion -->

  <!-- Bouton page d'accueil -->
  <a class="authentication-button-home text-center py-3" [routerLink]="['']"> Accueil</a>
  <!-- Bouton page d'accueil -->
</main>
